<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task List</title>
</head>
<body>
    <h2>My Task</h2>
    <a href="{% url 'task-create' %}">Create Task</a>

    <ul>
        {% for task in task_list %}

        <li>{{ task.title}} - {% if task.completed %} ✅ {% else %}  ❌ {% endif %}</li>
        <a href="{% url 'task-update' task.pk %}">✏️</a>
        <a href="{% url 'task-delete' task.pk %}">🗑️</a>

        {% endfor %}
    </ul>

</body>
</html>